.wrap{
    margin-top: 150px;
    margin-left: 40px;
    margin-right: 40px;
}

.create_content{
    text-align: center;
    margin-bottom: 20px;
}

.create_title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.upload_image{
    width: 800px;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.image_content{
    width: 400px;
    margin: auto;
    padding-top: 70px;
}

.form-label{
    margin-bottom: 10px;
}

.form-control{
    margin-bottom: 10px;
}

.basic_text{
    margin: auto;
}

.style_text{
    margin: auto;
}

.floating_form{
    display: flex;
}
.floating_form .btn{
    margin-top: 50px; 
    margin-right: 10px;
    margin-left : 10px;
    width: 100%;
}

.btn{
    background-color: #7E50FF;
    color: #fff;
}

.btn:hover{
    background-color: #682EEF;
    color: #fff;
}

.section_base_box {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    border: 2px solid #7E50FF;
}

.section_style_box {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
    border: 2px solid #7E50FF;
}

.section_default_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload_text{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 80px;
    margin-right: 80px;
}