.item_detail_card{
    display: flex;
    border: 0;
    border-radius: 0;
    box-shadow: unset;
}

.item_detail_card .card_header{
    width: 20%;
    margin-right: 32px;
}
.item_detail_card .card_header .unft_images{
    border-radius: 100%;
    overflow: hidden;
}
.item_detail_card .card_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item_detail_card .card_body .item_card_title{
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 13px;
    margin-top: 30px;
}
.item_detail_card .card_body .item_card_editors{
    margin-bottom: 8px;
}
.item_detail_card .card_body .item_card_editor{
    font-size: 1em;
    font-weight: 500;
    color: #7E50FF;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.item_detail_card .card_body .item_card_editor .editor_profile{
    border-radius: 50%;
    width: 1.75em;
    height: 1.75em;
    display: block;
    margin-right: 12px
}

.item_detail_card .card_body .item_card_editor {
    border: 1px solid #d8d8d8;
    border-radius: 1.5rem;
    padding: 7px 15px 7px 15px;
}

.item_detail_card .card_body .item_card_editor .owner_field{
    display: block;
    font-weight: normal;
    margin-right: 12px;
    color: #888888;
}

.item_detail_card .card_body .item_card_hits{
    color: #888888;
    font-size: 1.25em;
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.item_detail_card .card_body .item_card_hits i{
    margin-right: 8px;
}
.item_detail_card .card_body .item_card_hits .hits_text{
    font-size: 0.7em;
    margin-bottom:0;
}
.item_detail_card .card_footer{
    display: block;
    font-size: 1em;
    padding-bottom:0;
    
}
.item_detail_card .card_footer::before{
    display: none;
}
.item_detail_card .card_footer > *{
    margin-bottom: 8px
}
.item_detail_card .card_footer .unft_card_price{
    color: #7E50FF;
    margin-bottom: 32px;
}


/* sec_unft_detail_tab */
.tab_content{
    padding: 3px 16px;
}

.tab_title{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 32px;
}
.tab_title2{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 32px;
    margin-top: 100px;
}
.unft_card_list{
    margin-top: 30px;
}
.unft_card_desc{
    line-height: 1.75;
    word-break: keep-all;
    color: #666;
    width: 100%;
}
.unft_card_desc p{
    margin-bottom: 16px;
}
.unft_card_dealAll, .unft_card_dealSuccess{
    width: 100%;
    margin-top: 70px;
}
.table .thead{
    border-bottom: solid 2px #eaeaea;
    font-weight: 500;
    padding-right: 15px;
}
.table .tbody{
    min-height: 300px;
    overflow-y: scroll;
}
#tab_04 .table .tbody{
    min-height: 100px;
    max-height: 500px;
    overflow-y: scroll;
}
.table .tr{
    display: flex;
}
.table .tr .th{
    color: #222 !important;
}
.table .tr .th,.table .tr .td{
    width: 100%;
    padding: 16px 0;
    color: #666;
    text-align: center;
}
.table_dealAll.table .tr .th:nth-child(3),.table_dealAll.table .tr .td:nth-child(3){
    flex : 70px 0 70px;
}
.card_body .card_button{
    margin-top: 10px;
    text-align: right;
}

.item_card .unft_card_edit,.td .btn_deal_approve{
    background-color: #7077ff;
    border-color: #7077ff;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8em;
}
.item_card .unft_card_delete,.td .btn_deal_reject{
    background-color: #d46efc;
    border-color: #d46efc;
    color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8em;
}

.tab_content{
    display: none;
}
.tab_content.active{
    display: block;
}

.item_card .card_content {
    width: 100%;
    height: 110px;
    padding: 15px;
}

/* Delete Modal */
.moreModel .modal-body{
    text-align: center;
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 32px 0;
    display: flex;
    justify-content: center;
}
.moreModel .modal_title{
    font-size: 1.25em;
    font-weight: 600;
}
.moreModel .modal-footer{
    border:0;
}
.moreModel button.btn_modal_feedmore, .moreModel button.btn_modal_feedmore:hover{
    width: 100%;
    border-top: 1px solid rgb(219,219,219);
    line-height: 1.5;
    min-height: 56px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0;
    margin:0;
}
.moreModel button.btn_modal_feedmore:first-child{
    border-top:0;
}
.moreModel button.btn_modal_feedmore.red{
    color: #ed4956;
    font-weight: 600;
}