/* style.css : 공용 스타일 파일 */
/* reset */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
* {
    font-family: 'Noto Sans KR', sans-serif !important;
}
body{
    color: #222;
}
.flex{
    display: flex;
}
.flex-align-center{
    align-items: center;
}
.visivility_hide{
    visibility: hidden;
}
a, a:hover{
    color: inherit;
    text-decoration: unset;
}

.btn.btn_default{
    background-color: #7E50FF;
    color: #fff;
    width: 50%;
    padding: 10px 16px;
}
.btn.btn_default:hover{
    background-color: #682EEF;
    color: #fff;
}

/* header */
header.header_sticky{
    background: #fff;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 8px rgb(255 255 255 / 5%);
    /* border-bottom: 1px solid #e5e7eb; */
    font-weight: 600;
    font-size: 1.1em;
}

header nav{
    padding: 0 16px;
}

header nav .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .navbar_logo img{
    height: 40px;

}
header nav ul.navbar_menu{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
}
header nav ul.navbar_menu button{
    background: transparent;
    border:0;
}
header nav ul.navbar_menu > li > a, header nav ul.navbar_menu > li > button, header nav ul.navbar_menu > li .dropdown>button{
    display: block;
    line-height: 20px;
    padding: 0px 20px;
}
header nav ul.navbar_menu > li > button.btn:hover, header nav ul.navbar_menu > li .dropdown>button:hover, header nav ul.navbar_menu > li .dropdown>button:active, header nav ul.navbar_menu > li .dropdown>button:focus-visible, .btn:first-child:active{
    background: transparent;
    border-color: transparent;
}
header nav ul.navbar_menu > li .dropdown-toggle::after{
    display: none;
}
header nav .my_money{
    border: solid 1px #7E50FF;
    font-size: 0.7em;
    color: #7E50FF;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 4px 8px;
    min-width: 100px;
    font-weight: normal;
}
header nav .my_money > i{
    margin-right: 16px;
}


header nav .my_profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
header nav .my_profile img{
    width: 100%;
    height: 100%;
    display: table;
    border-radius: 50%;
}

/* wrap */
.wrap{
    position: relative;;
    padding: 16px 0;
    min-height: calc(100vh - 112px);
    padding-top: 60px;
    min-height: 100vh;
}


/* sidenav */
.sidenav{
    width: 250px;
    min-height: 250px;
    position: absolute;
    right:0;
    top: 32px;
}
.main{
    padding: 32px 16px;
    margin-right: 250px;

}
/* section */
.sec{
    margin-bottom: 50px;
}
.sec .section_header{
    margin-bottom: 32px;
    text-align: center;
}
.sec .section_title{
    font-size: 1.5em;
    font-weight: 700;
    display: inline-block;
}
.highlight{
    position: relative;
    transition: 0.2s;
    cursor: pointer;
}
.highlight:before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0px;
    height: 16px;
    width: 0;
    background-color: rgba(30,215,96,0.25);
    transition: 0.4s;
}
.highlight:hover:before{
    width: calc(100% + 4px);
    transition: 0.2s;
}


/* card_list */

/* ********* */
/* item_card */
/* ********* */
.item_card{
    cursor: pointer;
    background: #fff;
    border: 1px solid #f0f0f0;
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    border-radius : 16px;
    margin-bottom: 16px;
    line-height: 1.26;
    overflow: hidden;
    /* padding: 16px; */
}
/* card_header */
.item_card .card_header{
    position: relative;
}
.item_card .unft_card_status{
    position: absolute;
    top: 10px;
    background-color: #7E50FF;
    color: #fff;
    font-weight: 500;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.8em;
    left: 10px;
}
.item_card .item_image{
    vertical-align: unset;
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}
.item_card .item_image >img{
    position: absolute;
    /* width: 100%; */
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.item_card:hover .item_image.scale_up img{
    transform: scale(1.2) translate(-40%,-40%);
    transition: all .2s ease-in-out;
}
/* card_content */
.item_card .card_content{
    width: 100%;
    padding: 15px;
}
.item_card .card_content p{
    margin-bottom: 8px;
}
.item_card .card_content p.item_card_title{
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    /* word-break: keep-all; */
}
.item_card .card_content .item_card_title{
    font-weight: 600;
    font-size : 1em;
}
.item_card .card_content .item_card_editor{
    font-size: 0.75em;
}
/* card_footer */
.item_card .card_footer{
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 0.75em;
}
.item_card .card_footer::before{
    content: "";
    display: block;
    width: calc(100% - 32px);
    height: 1px;
    background: #f0f0f0;
    position: absolute;
    top: 0;
    left: 16px;
}
.item_card .card_footer .unft_card_price{
    color: #7e50ff;
    font-size: 1.2em;
}
.item_card .card_footer .unft_card_price .price{
    font-size: 1.5em;
    font-weight: 500;
}


/* ******** */
/* tab_menu */
/* ******** */
.tab_menu{
    border-bottom: solid 1px #f0f0f0;
}
.tab_menu .tab_list{
    display: flex;
}
.tab_menu .tab_list .tab_item{
    margin: 16px 32px;
    font-size: 1.25em;
    font-weight: 500;
    position: relative;
}
.tab_menu .tab_list .tab_item:hover{
    font-weight: 600;
    transition: 0.2s;
}
.tab_menu .tab_list .tab_item.active{
    font-weight: 600;
}
.tab_menu .tab_list .tab_item.active::after{
    content: "";
    position: absolute;
    left:0;
    bottom: -17px;
    width: 100%;
    height: 3px;
    background-color: #222;

}




@media (max-width: 991px){
    .container, .container-md, .container-sm{
        max-width: 100%;
        padding: 32px;
    }
}